    <header id="idHeader">
			<div id="idBlock">
				<div id="profilePicture">
          <amp-img src="/images/{{site.id.imagePrefix}}-310_profile.{{site.id.imageExtension}}" alt="{{site.id.imageAlt}}"
            srcset="/images/{{site.id.imagePrefix}}-310_profile.{{site.id.imageExtension}} 1024w, images/{{site.id.imagePrefix}}-236_profile.{{site.id.imageExtension}} 768w, images/{{site.id.imagePrefix}}-160_profile.{{site.id.imageExtension}} 320w"
            width="160"
            height="160"
            layout="responsive"></amp-img>
				</div>
				<div>
          <h5 class="pad pointer" on="tap:sidebar.toggle" role="switch" tabindex="default">&equiv;
          </h5>
					<h1 class="lowCeiling pad right">{{site.id.title}}</h1>
					<h6 class="pad">{{site.id.subtitle}}</h6>
				</div>
			</div>
			<div id="socList">
				<div id="socSpace"></div>
				<h1>@</h1>
				<p>
{% for link in site.id.social %}
					<a href="{{link.0}}" target="_blank">{{link.1}}</a><br>
{% endfor %}
				</p>
			</div>
		</header>
